singularity.enabled = true
process {
    withName:topgo {
        executor='slurm'
        queue="${params.queue}"
        cpus=8
        mem='16 GB'
        time='4h'
        jobName={ "$task.name" }
        container = "${params.image_folder}cellplot-ea2dbc4.sif"
        containerOptions = "-B ${params.project_folder}:/workdir"
    }
}

