singularity.enabled = true
process {
    withName:rcistarget {
        executor='slurm'
        queue="${params.queue}"
        cpus=1
        mem='8 GB'
        time='4h'
        jobName={ "$task.name" }
        container = "${params.image_folder}rcistarget-1.17.0.sif"
        containerOptions = "-B ${params.project_folder}:/workdir"
    }
}

