params.run_type='local'

docker.enabled = true
process {
  withName:tx2gene { 
    cpus=2
    container = 'mpgagebioinformatics/deseq2:1.38.0'
    containerOptions = "-v ${params.project_folder}:/workdir"
  }
  withName:deseq2 { 
    cpus=4
    container = 'mpgagebioinformatics/deseq2:1.38.0'
    containerOptions = "-v ${params.project_folder}:/workdir"
  }
  withName:mastertable { 
    cpus=4
    container = 'mpgagebioinformatics/deseq2:1.38.0'
    containerOptions = "-v ${params.project_folder}:/workdir"
  }
}