process {
  withName:tx2gene { 
    cpus=1
    container = 'mpgagebioinformatics/rnaseq.python:3.8-1'
    containerOptions = "-v ${params.project_folder}:/workdir"
  }
  withName:tx2gene_proc { 
    cpus=1
    container = 'mpgagebioinformatics/deseq2:1.38.0'
    containerOptions = "-v ${params.project_folder}:/workdir"
  }
  withName:annotations { 
    cpus=1
    container = 'mpgagebioinformatics/rnaseq.python:3.8-1'
    containerOptions = "-v ${params.project_folder}:/workdir"
  }
  withName:parse_submission { 
    cpus=1
    container = 'mpgagebioinformatics/rnaseq.python:3.8-1'
    containerOptions = "-v ${params.project_folder}:/workdir"
  }
  withName:deseq2 { 
    cpus=4
    container = 'mpgagebioinformatics/deseq2:1.38.0'
    containerOptions = "-v ${params.project_folder}:/workdir"
  }
  withName:mastertable { 
    cpus=4
    container = 'mpgagebioinformatics/deseq2:1.38.0'
    containerOptions = "-v ${params.project_folder}:/workdir"
  }
  withName:annotator { 
    cpus=1
    container = 'mpgagebioinformatics/rnaseq.python:3.8-1'
    containerOptions = "-v ${params.project_folder}:/workdir"
  }
  withName:david_proc { 
    cpus=1
    container = 'mpgagebioinformatics/rnaseq.python:3.8-1'
    containerOptions = "-v ${params.project_folder}:/workdir"
  }
  withName:topgo_proc { 
    cpus=1
    container = 'mpgagebioinformatics/topgo:2.50.0'
    containerOptions = "-v ${params.project_folder}:/workdir"
  }
  withName:cellplot { 
    cpus=4
    container = 'mpgagebioinformatics/cellplot:ea2dbc4'
    containerOptions = "-v ${params.project_folder}:/workdir"
  }
  withName:rcistarget_proc { 
    cpus=2
    container = 'mpgagebioinformatics/rcistarget:1.17.0'
    containerOptions = "-v ${params.project_folder}:/workdir"
  }
  withName:qc_plots { 
    cpus=2
    container = 'mpgagebioinformatics/rnaseq.python:3.8-1'
    containerOptions = "-v ${params.project_folder}:/workdir"
  }
  withName:string { 
    cpus=4
    container = 'mpgagebioinformatics/rnaseq.python:3.8-1'
    containerOptions = "-v ${params.project_folder}:/workdir -v ${params.homefolder}/.ssh:/root/.ssh ${params.cytoscape_ip_mount}"
  }
}