singularity.enabled = true
process {
    withName:david {
        executor='slurm'
        queue="${params.queue}"
        cpus=1
        mem='8 GB'
        time='12h'
        jobName={ "$task.name" }
        container = "${params.image_folder}multiqc-1.13.sif"
        containerOptions = "-B ${params.project_folder}:/workdir"
    }
}

