params.run_type='local'

docker.enabled = true
process {
  withName:get_ip { 
      cpus=1
      container = 'mpgagebioinformatics/rnaseq.python:3.8-1'
      containerOptions = "-v ${params.project_folder}:/workdir -v /Users/jboucas/.ssh:/root/.ssh"
  }
  withName:string { 
      cpus=4
      container = 'mpgagebioinformatics/rnaseq.python:3.8-1'
      containerOptions = "-v ${params.project_folder}:/workdir -v /Users/jboucas/.ssh:/root/.ssh"
  }
  withName:release_ip { 
      cpus=1
      container = 'mpgagebioinformatics/rnaseq.python:3.8-1'
      containerOptions = "-v ${params.project_folder}:/workdir -v /Users/jboucas/.ssh:/root/.ssh"
  }
}