singularity.enabled = true
process {
    withName:get_ip {
        container = "${params.image_folder}rnaseq.python-3.8-1.sif"
        containerOptions = "-B ${params.project_folder}:/workdir"
    }
    withName:string {
        executor='slurm'
        queue="${params.queue}"
        cpus=8
        mem='20 GB'
        time='4h'
        jobName={ "$task.name" }
        container = "${params.image_folder}rnaseq.python-3.8-1.sif"
        containerOptions = "-B ${params.project_folder}:/workdir -B /beegfs/group_bit/home/JBoucas/.ssh:/root/.ssh"
    }
    withName:release_ip {
        container = "${params.image_folder}rnaseq.python-3.8-1.sif"
        containerOptions = "-B ${params.project_folder}:/workdir"
    }
}

